{% extends "base.html" %}

{% block content %}
<div class="title-strip title-strip-dashboard">
  <div class="row">
    <h1>Dashboard</h1>
  </div>
</div>
{% if user.username == daevent.organiser.username %}
<div class="row padding-top-60 padding-bottom-80">
  <div class="large-12 columns padding-bottom-40"><h2>Create new logistics</h2></div>
  <div class="large-12 columns text-left">
    <form id="log_creation_form" method="post" action="{{ create_url }}">
      {% csrf_token %}
      <label>Name:</label>
      <input type="text" name="name" value=""/>
      <label>Cost:</label>
      <input type="number" name="cost" step="any" min="0" value=""/>
      <label>Quantity:</label>
      <input type="number" name="quantity" min="1" value=""/>
      <label>Procured?</label>
      <input type="checkbox" name="procured" value=""/>
      <br><br>
      <button type="submit" name="submit" class="alt-font">Create</button>
     </form>
  </div>
</div>
{% else %}
<div class="row">
  <div class="large-12 columns text-center padding-top-60 padding-bottom-80">
    <h2>Hey... it seems like you aren't the organiser of this event.</h2>
    <h6><strong>No worries, just you can view the public page by clicking on the button below.</strong></h6><br>
    <a href="{{ daevent.public_url }}" class="button alt-font">See public page</a>
  </div>
</div>
{% endif %}
{% endblock %}